SERVER_PORT = ${ADMIN_SERVER_PORT}
SERVER_AUTH_URL = ${ADMIN_SERVER_AUTH_URL}
SERVER_MYSQL_URL = ${ADMIN_SERVER_MYSQL_URL}
SERVER_MYSQL_USER = ${ADMIN_SERVER_MYSQL_USER}
SERVER_MYSQL_PASS = ${ADMIN_SERVER_MYSQL_PASS}
SERVER_MYSQL_DB = ${ADMIN_SERVER_MYSQL_DB}
SERVER_AUDIT_MYSQL_URL = ${ADMIN_SERVER_AUDIT_MYSQL_URL}
SERVER_AUDIT_MYSQL_USER = ${ADMIN_SERVER_AUDIT_MYSQL_USER}
SERVER_AUDIT_MYSQL_PASS = ${ADMIN_SERVER_AUDIT_MYSQL_PASS}
SERVER_AUDIT_MYSQL_DB = ${ADMIN_SERVER_AUDIT_MYSQL_DB}
SERVER_MC_URL = ${ADMIN_SERVER_MC_URL}
SERVER_CONSUL_URL = ${ADMIN_SERVER_CONSUL_URL}
SERVER_MOUNT_PATH = ${ADMIN_SERVER_MOUNT_PATH}
SERVER_LOG_LEVEL = ${ADMIN_SERVER_LOG_LEVEL}

QA_TEST_URL = ${ADMIN_QA_TEST_URL}
QA_CONTROLLER_URL = ${ADMIN_QA_CONTROLLER_URL}
QA_TEST_TYPE = ${ADMIN_QA_TEST_TYPE}

STATISTIC_MYSQL_URL = ${ADMIN_STATISTIC_MYSQL_URL}
STATISTIC_MYSQL_USER = ${ADMIN_STATISTIC_MYSQL_USER}
STATISTIC_MYSQL_PASS = ${ADMIN_STATISTIC_MYSQL_PASS}
STATISTIC_MYSQL_DB = ${ADMIN_STATISTIC_MYSQL_DB}

UI_WORDBANK_FIX_LAYER = ${ADMIN_UI_WORDBANK_FIX_LAYER}
UI_AUTH_TYPE=${ADMIN_UI_AUTH_TYPE}

TASK_SERVER_URL = ${ADMIN_TASK_SERVER_URL}

SELFLEARN_MYSQL_URL = ${ADMIN_SELFLEARN_MYSQL_URL}
SELFLEARN_MYSQL_USER = ${ADMIN_SELFLEARN_MYSQL_USER}
SELFLEARN_MYSQL_PASS =  ${ADMIN_SELFLEARN_MYSQL_PASS}
SELFLEARN_MYSQL_DB =  ${ADMIN_SELFLEARN_MYSQL_DB}
SELFLEARN_MAX_NUM_TO_CLUSTER =  ${ADMIN_SELFLEARN_MAX_NUM_TO_CLUSTER}
SELFLEARN_MIN_SIZE_CLUSTER =  ${ADMIN_SELFLEARN_MIN_SIZE_CLUSTER}
SELFLEARN_CLUSTER_BATCH =  ${ADMIN_SELFLEARN_CLUSTER_BATCH}
SELFLEARN_EARLY_STOP_THRESHOLD =  ${ADMIN_SELFLEARN_EARLY_STOP_THRESHOLD}
SELFLEARN_NLU_URL =  ${ADMIN_SELFLEARN_NLU_URL}
SELFLEARN_RESPONSE_URL = ${ADMIN_SELFLEARN_RESPONSE_URL}
SELFLEARN_RESOURCES_PATH =  ${ADMIN_SELFLEARN_RESOURCES_PATH}

MEDIABASE_SYNC_PERIOD_BY_SECONDS=${ADMIN_MEDIABASE_SYNC_PERIOD_BY_SECONDS}
MEDIABASE_MYSQL_URL= ${ADMIN_MEDIABASE_MYSQL_URL}
MEDIABASE_MYSQL_USER= ${ADMIN_MEDIABASE_MYSQL_USER}
MEDIABASE_MYSQL_PASS= ${ADMIN_MEDIABASE_MYSQL_PASS}
MEDIABASE_MYSQL_DB= ${ADMIN_MEDIABASE_MYSQL_DB}
MEDIABASE_VOLUME= ${ADMIN_MEDIABASE_VOLUME}
MEDIABASE_LOCATION= ${ADMIN_MEDIABASE_LOCATION}

DICTIONARY_INTERNAL_URL=${ADMIN_DICTIONARY_INTERNAL_SERVER}

ROBOT_SOLR_URL=${ADMIN_ROBOT_SOLR_URL}

