SERVER_PORT = ${ADMIN_SERVER_PORT}
SERVER_AUTH_URL = ${ADMIN_SERVER_AUTH_URL}
SERVER_MYSQL_URL = ${ADMIN_SERVER_MYSQL_URL}
SERVER_MYSQL_USER = ${ADMIN_SERVER_MYSQL_USER}
SERVER_MYSQL_PASS = ${ADMIN_SERVER_MYSQL_PASS}
SERVER_MYSQL_DB = ${ADMIN_SERVER_MYSQL_DB}
SERVER_AUDIT_MYSQL_URL = ${ADMIN_SERVER_AUDIT_MYSQL_URL}
SERVER_AUDIT_MYSQL_USER = ${ADMIN_SERVER_AUDIT_MYSQL_USER}
SERVER_AUDIT_MYSQL_PASS = ${ADMIN_SERVER_AUDIT_MYSQL_PASS}
SERVER_AUDIT_MYSQL_DB = ${ADMIN_SERVER_AUDIT_MYSQL_DB}
SERVER_MC_URL = ${ADMIN_SERVER_MC_URL}
SERVER_CONSUL_URL = ${ADMIN_SERVER_CONSUL_URL}
SERVER_CONSUL_PREFIX = ${ADMIN_SERVER_CONSUL_PREFIX}
SERVER_MOUNT_PATH = ${ADMIN_SERVER_MOUNT_PATH}
SERVER_LOG_LEVEL = ${ADMIN_SERVER_LOG_LEVEL}
SERVER_ELASTICSEARCH_HOST = ${ADMIN_SERVER_ELASTICSEARCH_HOST}
SERVER_ELASTICSEARCH_PORT = ${ADMIN_SERVER_ELASTICSEARCH_PORT}

# there need a new line after all setting