SERVER_PORT = ${VIP_SERVER_PORT}
SERVER_AUTH_URL = ${VIP_SERVER_AUTH_URL}
SERVER_MYSQL_URL = ${VIP_SERVER_MYSQL_URL}
SERVER_MYSQL_USER = ${VIP_SERVER_MYSQL_USER}
SERVER_MYSQL_PASS = ${VIP_SERVER_MYSQL_PASS}
SERVER_MYSQL_DB = ${VIP_SERVER_MYSQL_DB}
SERVER_AUDIT_MYSQL_URL = ${VIP_SERVER_AUDIT_MYSQL_URL}
SERVER_AUDIT_MYSQL_USER = ${VIP_SERVER_AUDIT_MYSQL_USER}
SERVER_AUDIT_MYSQL_PASS = ${VIP_SERVER_AUDIT_MYSQL_PASS}
SERVER_AUDIT_MYSQL_DB = ${VIP_SERVER_AUDIT_MYSQL_DB}
SERVER_MC_URL = ${VIP_SERVER_MC_URL}
SERVER_CONSUL_URL = ${VIP_SERVER_CONSUL_URL}
SERVER_MOUNT_PATH = ${VIP_SERVER_MOUNT_PATH}

QA_TEST_URL = ${VIP_QA_TEST_URL}

STATISTIC_MYSQL_URL = ${VIP_STATISTIC_MYSQL_URL}
STATISTIC_MYSQL_USER = ${VIP_STATISTIC_MYSQL_USER}
STATISTIC_MYSQL_PASS = ${VIP_STATISTIC_MYSQL_PASS}
STATISTIC_MYSQL_DB = ${VIP_STATISTIC_MYSQL_DB}

UI_AUTH_SYSTEM = ${VIP_UI_AUTH_SYSTEM}
UI_AUTH_VIP_REQUESTOR = ${VIP_UI_AUTH_REQUESTOR}
UI_AUTH_VIP_SUPER_ROLE = ${VIP_UI_AUTH_SUPER_ROLE}
