SERVER_PORT = ${SERVER_PORT}
SERVER_AUTH_URL = ${SERVER_AUTH_URL}
SERVER_MYSQL_URL = ${SERVER_MYSQL_URL}
SERVER_MYSQL_USER = ${SERVER_MYSQL_USER}
SERVER_MYSQL_PASS = ${SERVER_MYSQL_PASS}
SERVER_MYSQL_DB = ${SERVER_MYSQL_DB}

DICTIONARY_UPLOAD_URL = ${DICTIONARY_UPLOAD_URL}
DICTIONARY_DOWNLOD_URL = ${DICTIONARY_DOWNLOD_URL}
DICTIONARY_CHECK_URL = ${DICTIONARY_CHECK_URL}
