CAUTH_SERVER_ADDR = ${CAUTH_SERVER_ADDR}
CAUTH_APP_KEY = ${CAUTH_APP_KEY}
CAUTH_REQUESTER = ${CAUTH_REQUESTER}
CAUTH_PREFIX = ${CAUTH_PREFIX}

CAS_SERVER_ADDR=${CAS_SERVER_ADDR}
CAS_APPID=${CAS_APPID}

SERVER_AUDIT_MYSQL_URL = ${SERVER_AUDIT_MYSQL_URL}
SERVER_AUDIT_MYSQL_USER = ${SERVER_AUDIT_MYSQL_USER}
SERVER_AUDIT_MYSQL_PASS = ${SERVER_AUDIT_MYSQL_PASS}
SERVER_AUDIT_MYSQL_DB = ${SERVER_AUDIT_MYSQL_DB}

