CAUTH_SERVER_ADDR = ${VIP_CAUTH_SERVER_ADDR}
CAUTH_APP_KEY = ${VIP_CAUTH_APP_KEY}
CAUTH_REQUESTER = ${VIP_CAUTH_REQUESTER}
CAUTH_PREFIX = ${VIP_CAUTH_PREFIX}

CAS_SERVER_ADDR = ${VIP_CAS_SERVER_ADDR}
CAS_APPID = ${VIP_CAS_APPID}

SERVER_AUDIT_MYSQL_URL = ${VIP_SERVER_AUDIT_MYSQL_URL}
SERVER_AUDIT_MYSQL_USER = ${VIP_SERVER_AUDIT_MYSQL_USER}
SERVER_AUDIT_MYSQL_PASS = ${VIP_SERVER_AUDIT_MYSQL_PASS}
SERVER_AUDIT_MYSQL_DB = ${VIP_SERVER_AUDIT_MYSQL_DB}

